
.home-pad20{
	padding: 20px;
}

.home-pad80{
	padding: 80px;
}


.home-main {
	min-height: 90vh;
	display: block;
}

.home-main-logo{
	text-align: center;
	padding-top: 70px;
}

.home-main-logo img{
	height: 25vh;
	opacity: 1.0;
}

.home-main-about{
	font-size: 30px;
	color: #fff;
	padding-left: 30px;
	display: block;
}

.home-main-about h1{
	font-size: 64px;
}



.home-down-arrow {
	text-align: center;
	height: 25vh;
}

.home-down-arrow i{
	opacity: 0.4;
	padding-left: 20px;
	padding-right: 20px;
	border: 4px #fff solid;
	border-radius: 50px;
}

.home-down-arrow i:hover{
	opacity: 0.8;
	cursor: pointer;
}

.home-main::after{
	clear: both;
}




#light1{
	height: 60vh;
	width: 60vh;
	z-index: 1;
	opacity: 0.4;
	position: absolute;
	right: 10vh;
	top: 50px;
	background-image: url("/assets/ghosty.svg");
	background-size: 100% 100%;
}







.home-box-blue{
	color: rgb(255, 255, 255);
	background-color: rgb(74, 160, 216);
	background-image: url("/assets/home-background.png");
}


.home-box-purple{
	color: rgb(168, 109, 249);
	border-color: rgb(168, 109, 249);
}

.home-box-green{
	color:  rgb(145, 198, 96);
	border-color: rgb(145, 198, 96);
}

.home-box-dark-yellow{
	color:  rgb(238, 175, 73);
	border-color: rgb(238, 175, 73);
}

.home-box-red{
	color:  #f94d4d;
	border-color: #f94d4d;
}

.home-box-yellow{
	color:  #fcf964;
	border-color: #fcf964;
}

.home-box-cyan{
	color: #5bffc8;
	border-color: #5bffc8;
}

.home-box-dark-blue{
	color: #5b73ff;
	border-color: #5b73ff;
}

.home-box-orange{
	color: #ff6e51;
	border-color: #ff6e51;
}

.home-box-grey{
	color: #34363a;
	border-color: #34363a;
}







.home-apply{
	font-size: 28px;
	padding-top: 50px;
	padding-left: 50px;
	color: #777;
}

.home-apply h3{
	color: rgb(74, 160, 216);
}




.home-quotes{
	font-size: 28px;
	padding-top: 50px;
	padding-left: 50px;
	padding-bottom: 80px;
}

.home-quotes h3{
	color: rgb(74, 160, 216);
}

.home-quotes-container{
	/*flex*/
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.home-quotes-container-box{
	color: #777;
	font-size: 22px;
	font-style: italic;	
	margin-left: 80px;
	margin-top: 20px;
	margin-bottom: 40px;
	display: inline-block;
	text-align: right;

	border-left: 5px #ccc solid;

	/*flex*/
	flex: 1;
}


.home-quotes-container-box span{
	font-weight: bold;
}







.home-display{

	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	
	padding-top: 50px;

	background-image: url("/assets/home-background.png");
	background-repeat: repeat;
}


.home-display-circle{

	flex-grow: 0;
	flex-shrink: 0;

	display: inline-block;
	text-align: center;

	margin: 80px;
	margin-top: 30px;
	margin-bottom: 30px;

}

.home-display-circle i{
	border: 5px solid;
	border-radius: 120px;
	padding: 40px;
	display: inline-block;
	font-size: 60px;

}

.home-display-circle span{
	display: block;
  	margin-top: 25px;
  	font-size: 28px;
  	font-weight: bold;
}










/*For tablets*/

@media only screen and (max-width: 1250px){

	#light1{
		display: none;
	}

	.home-apply{
		font-size: 26px;
	}
	
	.home-quotes{
		font-size: 28px;
	}
	
	.home-quotes-container-box{
		font-size: 20px;
	}

	.home-display-circle i{
		padding: 30px;
		font-size: 48px;
	}

}





/*For Smartphones*/
@media only screen and (max-width: 600px){

	.pad-20{
		padding: 10px;
	}

	.home-main-logo{
		padding-top: 20px;
	}

	.home-main-about{
		font-size: 24px;
	}

	.home-main-about h1{
		padding: 0px;
		text-align: center;
	}


	.home-apply{
		font-size: 16px;
		padding-left: 30px;		
	}
	.home-apply h3{
		font-size: 24px;
	}


	.home-quotes{
		font-size: 16px;
		padding-left: 30px;
	}
	.home-quotes h3{
		font-size: 24px;
		padding-bottom: 20px;
	}
	.home-quotes-container-box{
		font-size: 14px;
		margin-left: 0px;
		margin-top: 0px;
		margin-bottom: 20px;
	}

	.home-display-circle{
		margin: 40px;
		margin-top: 70px;
		margin-bottom: 0px;

	}

	.home-display-circle i{
		padding: 20px;
		font-size: 38px;
	}


}
